// 重置底部的空白占位区域颜色
.foot-shadow {
  background: #fff;
}

// 回到顶部
.backtop-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  .backtop {
    position: relative;
    left: 0;
    right: 0;
    div {
      position: absolute;
      top: 1100px;
      right: -50px;
      width: 34px;
      height: 100px;
      box-sizing: border-box;
      padding: 0 10px;
      background: #fff;
      cursor: pointer;
    }
  }
}

.logo {
  height: 95px;
  background: url('../img/logo.png') no-repeat 0 15px;
}
main {
  .not-signin {
    height: 218px;
    background: url('../img/shocart.jpg') no-repeat 390px center;
    p {
      position: relative;
      top: 90px;
      text-align: center;
      font-size: 14px;
      a {
        color: #d42147;
      }
    }
  }
  .has-signin {
    .signin-title {
      display: flex;
      align-items: center;
      line-height: 36px;
      padding: 0 20px;
      input {
        margin-right: 10px;
      }
      .sp1 {
        width: 60px;
        margin-left: 80px;
      }
      .sp2 {
        width: 340px;
        margin-left: 20px;
      }
      .sp3 {
        width: 115px;
      }
      .sp4 {
        width: 180px;
      }
      .sp5 {
        width: 100px;
      }
      .sp6 {
        width: 50px;
      }
    }
    .goods-list {
      .goods-item {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 122px;
        padding: 20px;
        border: 1px solid #eaeaea;
        background: #fffbf0;
        margin-bottom: 30px;
        .goods-check {
          margin-right: 10px;
        }
        img {
          width: 80px;
          height: 80px;
        }
        .goods-title {
          width: 450px;
          margin-left: 20px;
        }
        .goods-price {
          width: 150px;
          text-align: center;
        }
        .goods-count {
          display: flex;
          width: 250px;
          align-items: center;
          div {
            width: 22px;
            height: 22px;
            line-height: 22px;
            border: 1px solid #bcbcbc;
            text-align: center;
          }
          input {
            width: 44px;
            height: 22px;
            border: 1px solid #bcbcbc;
            text-align: center;
            outline: none;
          }
        }
        .totalprice {
          width: 110px;
        }
        .goods-remove {
          width: 140px;
        }
      }
    }
    .all-price {
      font-size: 16px;
      text-align: right;
    }
  }
}
.user-like {
  .title {
    margin: 20px 0;
    span {
      &:first-child {
        margin-right: 12px;
        font-size: 18px;
        font-weight: bold;
        color: #333;
      }
      &:last-child {
        font-size: 14px;
        color: #999;
      }
    }
  }
  .like-list {
    display: flex;
    justify-content: space-between;
    a {
      width: 206px;
      border: 1px solid #eaeaea;
      padding-bottom: 30px;
      img {
        width: 206px;
        height: 206px;
      }
      h3 {
        font-size: 12px;
        line-height: 20px;
        color: #333;
        word-break: break-all;
        padding: 0 10px;
      }
      p {
        padding: 0 10px;
        margin-top: 5px;
        span {
          font-size: 16px;
          color: #e31436;
          margin-right: 6px;
        }
        del {
          font-size: 12px;
          color: #999;
        }
      }
      b {
        padding: 0 10px;
        font-weight: bold;
        color: #172c45;
      }
    }
  }
}
